nav{
/* display: block; */
display: flex;
  /* flex-direction: ; */
  justify-content: end;
  /* justify-items: ; */
  color: white;
  font-size: 20px;

}

nav div{
  /* color: white; */
  border-bottom: 4px solid white;
  margin: 10px;
  padding: 5px;

}

nav div a{
  color: white;
  
}



nav div:hover{
  /* color: white; */
  border-bottom: 4px solid rgba(255, 255, 255, 0.959);
  margin: 10px;
  padding: 5px;

  border-radius: 5px;
  background-color: rgba(191, 191, 197, 0.547);

}


